*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url("img/rojo.jpg");
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#global{
    width: 65%;
    margin: 0px auto;
    margin-top: 30px;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px gray;
}

.clearFix{
    float: none;
    clear: both;
}
#title{
    height: 60px;
    width: 300px;
    background-color: green;
    float: left;
    font-size: 45px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

#menu{
    width: 100%;
    list-style: none;
    background-color: rgba(75, 75, 75);
    color: white;
    margin-bottom: 20px;
    line-height: 45px;
}

#menu li{
    display: inline-block;
    height: 45px;
    transition: all 300ms;
}

#menu li:hover{
    background-color: green;
}

#menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;

}

#posts{
    float: left;
    width: 60%;
}
#posts p{
    text-align: justify;
}

#posts h2{
    float: left;
}

#posts button{
    float: right;
    background-color: green;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 7px;
}

aside{
    text-align: center;
    float: right;
    width: 38%;
    padding-left: 2%; 
}

aside h4{
    background: url("img/lines.png");
}
aside p{
    text-align: justify;
}
aside img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

aside h4 span{
    background: white;
    padding: 5px;
}